@media (max-width:765px) {
    .cart-product > div{
        flex-direction: column;
        min-width: 240px;
        width: 350px;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .cart-title{
        text-align: center;
    }
}
@media (max-width:425px) {
    .cart-product > div{
        width: 210px;
    }
}